@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Paytone+One&family=Poppins:ital,wght@0,400;1,200;1,300&display=swap');
body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
.App {
  text-align: center;
  background-image: url('https://wallpapers.com/images/hd/minimalist-nature-3840-x-2160-e91sxvrut8sj83hr.jpg');
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh ;
  display: grid;
  justify-content: center;
}
.container{
  border: 2px solid black;
  border-radius: 30px;
  overflow: hidden;
  height: 40rem;
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-areas: 
  'main'
  'aside';
  grid-template-columns: 1fr;
}


@media (max-width:1231px){
.containers{
  height: 35rem;
  width: 60rem;
  grid-template-rows:35rem ; /*solo una fila*/
}
} 

@media (max-width: 1000px){
  .containers{
    height: 30rem;
    width: 45rem;
    grid-template-rows: 30rem;
  }
}
@media (max-width: 800px){
  .Apps{
    max-height: 100vh;
  }
  .containers{
  height: 80vh;
  width: 40rem;
  display: flex;
  flex-direction: column;
  }
}
