@font-face {
    font-family: 'PPCasa-Regular';
    src: local('PPCasa-Regular.otf'), url('../fonts/PPCasa-Regular.otf') format('opentype');
}
:root{
    --button: #3FB29F;
    --mainBackground: #161618;
}
.Main{
    grid-area: main;
    display: grid;
    background-color: var(--mainBackground);
    transition: all 1s;
    height: 150px;
    width: 100%;
}
/* Header */
.Header{
    display: grid;
    grid-template-rows: 60% 20%; 
    grid-template-areas:
    'tasks date weather'
    '. name .'
    ;
    color: white;
    place-items: center;
}
.counter{
    grid-area: tasks;
    font-size: 22px;
    letter-spacing:2px;
}
.counterLoading{
    opacity: 30%;
}
/* ToDoDate */
.DateContainer{
    grid-area: date;
    display: grid;
    grid-template-rows: repeat(2, 30px);
    grid-template-areas: 
    'name day'
    'month month'
    ;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.DayName{
    grid-area: name;
}
.Day{
    grid-area: day;
    /* font-family: 'PPCasa-Regular', sans-serif; */
    color: var(--button);
    font-size: 36px;
}
.Month{
    grid-area: month;
}

.contWeather{
    grid-area: weather;
}

.username{
    grid-area: name;
}
/* To DO Input */
/* .contInput{
    grid-row: 2/3;
    display: grid;
    place-items: center;
} */
/* .form{
    display: grid;
}
.labelForm{
    font-size: 1.3rem;
    color: #eee;
} */
/* .inputTodo{
    background: #4b4b5b;
    display: flex;
    place-self: center;
    width: 20rem;
    font-size: 1.2rem;
    padding: 5px;
    color: #eee;
    border-radius: 8px;
    outline: none;

} */
/* warning message */
/* .noneDisplay{
    visibility: hidden!important;
}
.withDisplay{
    visibility: visible ;
    color: tomato;
} */
/* StartButton */
/* .contButtons{
    display: grid;
    justify-content: center;
    gap: 3%;
}
.StartButton{
    grid-row: 3 / 4;
    width: 150px;
    height: 60px;
    display: flex;
    place-self: center;
    place-content: center;
    background-color: var(--button);
    color: #eee;
    border-radius: 20px;
    border: none;
    transition: all .5s;
}
.StartButton:hover{
    background-color: rgb(91, 144, 190);
}
.StartButton:active{
    background-color: #1dc962;
} */
/* Media query */
@media(max-width:1000px){
    .StartButton{
        align-items: center;
        width: 120px;
        height: 50px;
    }
    .inputTodo{
        width: 16rem;
    }
    .DayName, .Month{
        font-size: 20px;
    }
}
@media (max-width: 800px){
    .Main{
        height: 280px;
    }
    .Header{
        background-position: cover;
        background-size: 45rem;
        grid-template-columns: repeat(2, 50%);
    }
    .DateContainer{
        height: 120px;
        grid-template-columns: repeat(2, 50%);
        place-items: center;
    }
    .DateInfo{
        grid-template-rows: repeat(3, 35px);
        height: 70%;
    }
    .DayName, .Month{
        font-size: 100% ;
    }
    .Day{
        font-size: 42px;
    }
    .DateAside{
        height: 60%;
        place-content: center;
    }
    .dateIcon{
        width: 80%;
    }
}
/* media query ToDoInput */