:root{
    --button: #3FB29F;
    --mainBackground: #2f2f3d;
}
.Main{
    display: grid;
    grid-column: 1/ span 2;
    grid-template-rows: 1.5fr 2fr;
    background-color: var(--mainBackground);
    transition: all 1s;
}
.StartedMain{
    transition: all 1s;
    grid-column: 1;
}
/* Header */
.Header{
    background-image: url('https://preview.redd.it/animated-wallpaper-1920-1080-v0-mthr3x0q3m091.png?auto=webp&s=9c853c670b3538bcfc9a54565abd25623bc50052') ;
    background-size:75rem;
    background-position: center;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-row: 1 / 2;
}

/* ToDoDate */
.DateContainer{
    display: grid;
    grid-column: 2/3;
    grid-template-columns: 1fr .5fr;
}
.DateInfo{
    display: grid;
    align-content: center;
    align-items: center;
    grid-template-rows: 3rem 5rem 3rem;
    color: #eee;
    gap: 4px;
}
.DayName{
    grid-row: 1 / 2;
    font-weight: lighter;
    font-size: 20px;
}
.Day{
    grid-row: 2/3;
    font-size: 42px;
}
.Month{
    grid-row: 3/4;
    font-weight: lighter;
}
.DateAside{
    display: grid;
    place-items: center;   
}
/* To DO Input */
.contInput{
    grid-row: 2/3;
    display: grid;
    place-items: center;
}
.form{
    display: grid;
}
.labelForm{
    font-size: 1.3rem;
    color: #eee;
}
.inputTodo{
    background: #4b4b5b;
    font-size: 1.2rem;
    padding: 5px;
    color: #eee;
    border-radius: 8px;
    outline: none;

}
/* warning message */
.noneDisplay{
    visibility: hidden!important;
}
.withDisplay{
    visibility: visible ;
    color: tomato;
}
/* StartButton */
.contButtons{
    display: grid;
    justify-content: center;
    gap: 3%;
}
.StartButton{
    grid-row: 3 / 4;
    width: 150px;
    height: 60px;
    display: flex;
    place-self: center;
    place-content: center;
    background-color: var(--button);
    color: #eee;
    border-radius: 20px;
    border: none;
    transition: all .5s;
}
.StartButton:hover{
    background-color: rgb(91, 144, 190);
}
.StartButton:active{
    background-color: #1dc962;
}